.home {
  background-image: url("https://i.pinimg.com/originals/fb/3f/c3/fb3fc3b7b58832c7f302273675121df4.jpg");
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
